/*This centers the navbar*/
@media (min-width: 768px){
  .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }
  .container {
    max-width: 730px;
  }
}

body {
  padding-top:70px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron {
  background-image:url('http://www.transientskp.org/meetings/2012-06/ds.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:-20px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.icons {
  border-top:1px solid #dbdbdb;
  border-bottom:1px solid #dbdbdb;
  background-color: #f7f7f7;
  padding:10px;
}

.icons .container div {
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  float:none;
  margin: auto;
}

.icons img {
  height:64px;
  width:64px;
}

.container > img {
  float:left;
  width:200px;
  padding-right:10px;
  padding-bottom:10px;
}
